.users-container {
  max-width: 900px;
  margin: 40px auto;
  font-family: Arial, sans-serif;
}

.title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
}

.user-table th,
.user-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.user-table th {
  background-color: #f3f3f3;
}

.logout-button {
  padding: 6px 12px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.logout-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.logout-button:not(:disabled):hover {
  background-color: #0056b3;
}

.delete-btn:not(:disabled):hover {
  background-color: #af0000;
}

.recover-btn:not(:disabled):hover {
  background-color: rgb(1, 163, 6);
}

.delete-btn {
  background-color: red;
}

.recover-btn {
  background-color: rgb(0, 219, 7);
}

#delete-popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(8px);
  background-color: #00000041;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.popup {
  height: 100px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.782);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  gap: 30px;
}

.buttons button {
  color: #e9e9e9;
  border: none;
  font-size: 20px;
  padding: 6px 12px;
  border-radius: 10px;
}

.soft-delete {
  background-color: rgb(255, 132, 87);
}

.hard-delete {
  background-color: rgb(255, 0, 0);
}

td {
  position: relative;
}

select {
  outline: unset;
  width: 20px;
  position: absolute;
  right: 5px;
  top: 15px;
}

select:disabled {
  cursor: not-allowed;
}

#user-link {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}
